# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implementation inspired by Franco's fku profiles

# Initialization
on property:sys.boot_completed=1
   # Set default profile on first boot
   exec u:r:init:s0 root root -- /init.spectrum.sh
   exec u:r:su:s0 root root -- /init.spectrum.sh
   # Enable Spectrum support
   setprop spectrum.support 1
   # Add kernel name
   setprop persist.spectrum.kernel DragonXia

# Balance (default profile)
on property:persist.spectrum.profile=0
    write /dev/voxpopuli/enable_interaction_boost   "1"
    write /dev/voxpopuli/fling_min_boost_duration   "200"
    write /dev/voxpopuli/fling_max_boost_duration   "2000"
    write /dev/voxpopuli/fling_boost_topapp         "5"
    write /dev/voxpopuli/fling_min_freq_big         "691"
    write /dev/voxpopuli/fling_min_freq_little      "631"
    write /dev/voxpopuli/touch_boost_duration       "200"
    write /dev/voxpopuli/touch_boost_topapp         "03"
    write /dev/voxpopuli/touch_min_freq_big         "691"
    write /dev/voxpopuli/touch_min_freq_little      "631"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "helix_schedutil"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "helix_schedutil"
    write /sys/devices/system/cpu/cpu0/cpufreq/helix_schedutil/down_rate_limit_us 1000
    write /sys/devices/system/cpu/cpu0/cpufreq/helix_schedutil/up_rate_limit_us 1000
    write /sys/devices/system/cpu/cpu2/cpufreq/helix_schedutil/down_rate_limit_us 1000
    write /sys/devices/system/cpu/cpu2/cpufreq/helix_schedutil/up_rate_limit_us 1000

# Performance
on property:persist.spectrum.profile=1
    write /dev/voxpopuli/enable_interaction_boost   "1"
    write /dev/voxpopuli/fling_min_boost_duration   "500"
    write /dev/voxpopuli/fling_max_boost_duration   "3500"
    write /dev/voxpopuli/fling_boost_topapp         "10"
    write /dev/voxpopuli/fling_min_freq_big         "1113"
    write /dev/voxpopuli/fling_min_freq_little      "1113"
    write /dev/voxpopuli/touch_boost_duration       "500"
    write /dev/voxpopuli/touch_boost_topapp         "5"
    write /dev/voxpopuli/touch_min_freq_big         "1113"
    write /dev/voxpopuli/touch_min_freq_little      "1113"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "alucardsched"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "alucardsched"
    write /sys/devices/system/cpu/cpu0/cpufreq/alucardsched/down_rate_limit_us 2000
    write /sys/devices/system/cpu/cpu0/cpufreq/alucardsched/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu0/cpufreq/alucardsched/boost_perc 15 
    write /sys/devices/system/cpu/cpu2/cpufreq/alucardsched/down_rate_limit_us 2000
    write /sys/devices/system/cpu/cpu2/cpufreq/alucardsched/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu2/cpufreq/alucardsched/boost_perc 10 

# Battery
on property:persist.spectrum.profile=2
    write /dev/voxpopuli/enable_interaction_boost   "1"
    write /dev/voxpopuli/fling_min_boost_duration   "200"
    write /dev/voxpopuli/fling_max_boost_duration   "2500"
    write /dev/voxpopuli/fling_boost_topapp         "05"
    write /dev/voxpopuli/fling_min_freq_big         "631"
    write /dev/voxpopuli/fling_min_freq_little      "631"
    write /dev/voxpopuli/touch_boost_duration       "200"
    write /dev/voxpopuli/touch_boost_topapp         "0"
    write /dev/voxpopuli/touch_min_freq_big         "631"
    write /dev/voxpopuli/touch_min_freq_little      "631"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "darknesssched"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "darknesssched"
    write /sys/devices/system/cpu/cpu0/cpufreq/darknesssched/down_rate_limit_us 500
    write /sys/devices/system/cpu/cpu0/cpufreq/darknesssched/up_rate_limit_us 2000
    write /sys/devices/system/cpu/cpu0/cpufreq/darknesssched/boost_perc 5 
    write /sys/devices/system/cpu/cpu2/cpufreq/darknesssched/down_rate_limit_us 500
    write /sys/devices/system/cpu/cpu2/cpufreq/darknesssched/up_rate_limit_us 2000
    write /sys/devices/system/cpu/cpu2/cpufreq/darknesssched/boost_perc 5 

# Gaming
on property:persist.spectrum.profile=3
    write /dev/voxpopuli/enable_interaction_boost   "1"
    write /dev/voxpopuli/fling_min_boost_duration   "500"
    write /dev/voxpopuli/fling_max_boost_duration   "3500"
    write /dev/voxpopuli/fling_boost_topapp         "10"
    write /dev/voxpopuli/fling_min_freq_big         "1113"
    write /dev/voxpopuli/fling_min_freq_little      "1113"
    write /dev/voxpopuli/touch_boost_duration       "500"
    write /dev/voxpopuli/touch_boost_topapp         "5"
    write /dev/voxpopuli/touch_min_freq_big         "1113"
    write /dev/voxpopuli/touch_min_freq_little      "1113"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "alucardsched"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "alucardsched"
    write /sys/devices/system/cpu/cpu0/cpufreq/alucardsched/down_rate_limit_us 2000
    write /sys/devices/system/cpu/cpu0/cpufreq/alucardsched/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu0/cpufreq/alucardsched/boost_perc 15 
    write /sys/devices/system/cpu/cpu2/cpufreq/alucardsched/down_rate_limit_us 2000
    write /sys/devices/system/cpu/cpu2/cpufreq/alucardsched/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu2/cpufreq/alucardsched/boost_perc 15 
